/* Global */
.space-bottom-20 { margin-bottom: 20px; }
.space-bottom-40 { margin-bottom: 40px; }

.list-style-none { list-style: none; }

/* Logo */
.site-slogan {
	font-size: 20px;
    text-align: center;
    padding: 22px 0;
    font-weight: 500;
	color: #333;
}

.site-slogan a {
	color: #333;
}

.site-slogan a:hover {
	text-decoration: none;
}

/* First Background */
.flight-school-hd-bg {
	background: url('../../assets/images/main.jpg') 50% 0px no-repeat;
	padding: 235px 0;
}

/* Responsive */
@media (min-width: 992px) {
	/* Logo */
	.fixed-header-on .header .site-slogan {
		padding: 16px 0;
	}
}